* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding-top: 0px;
}

section {
    min-height: 100vh;
    padding: 10rem 10% 10rem;
}

.home {
    flex-direction: column;
    background-image: url('../images/pemandangan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #ffffff;
}