* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}


/* header */
.header {
    width: 100%;
    height: 7rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 50;
}

/* logo dari ardi */
.kontainer-logo {
    width: 100%;
    max-width: 440px;
    text-align: center;
}

.warna-logo {
    font-size: 36px;
    font-weight: 800;
    color: #0064d2;
    text-decoration: none;
    letter-spacing: -1px;
}
.warna-logo span {
    color: #efab0c;
}

/* navigasi bar */
.navbar a {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}


.akun {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.akun a {
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: 600;
}

.btn-daftar {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #087bff;
  cursor: pointer;
  border: 1px solid#efab0c;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn-daftar:hover {
    background: #92c8f5;
}


/* bagian search */
.search-section {
    padding: 3.5rem 5rem 4.5rem;
}

.search-container {
    max-width: 1250px;
    margin: auto;
}

.search-container h1 {
    color: white;
    font-size: 3rem;
}

.search-box {
    background: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.12);
}

.search-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1rem;
    border-right: 1px solid #080000;
}

.search-item label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.search-item input {
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.btn-cari {
  color: #090909;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: #72b1f8;
  cursor: pointer;
  border: 1px solid#efab0c;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn-cari:hover {
    background: #92c8f5;
}


/* buat list hotel */
.sort {
    padding: 1rem 1.2rem;
    border: 1px solid #efab0c;
    border-radius: 0.7rem;
    background: #72b1f8;
    font-size: 1.4rem;
}

.content {
    max-width: 1250px;
    margin: 3rem auto;
    padding: 0 2rem;
}

.hotel-list {
    width: 100%;
}

.hotel-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.hotel-list-header h2 {
    font-size: 2.4rem;
}

.hotel-list-header p {
    font-size: 1.4rem;
    color: #777;
    margin-top: 0.5rem;
}

.hotel-card {
    width: 100%;
    min-height: 21rem;
    padding: 1.5rem;
    display: flex;
    gap: 1.8rem;
    background: linear-gradient(rgb(0, 108, 134), rgb(0, 255, 213));
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;  
    margin-bottom: 1.8rem;
}

.hotel-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(96, 4, 243, 0.25);
}

.hotel-image {
    width: 25rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 0.7rem;
}

.hotel-info {
    flex: 1;
}

.hotel-title {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.hotel-title h3 {
    font-size: 1.9rem;
    color: var(--light);
    line-height: 1.4;
}

.hotel-location {
    color: #000000;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.hotel-rating {
    color: black;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
}

.hotel-rating span {
    color: #000000;
}

.facilities {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.facilities span {
    padding: 0.6rem 0.9rem;
    background-color: #ff7300;
    color: var(--light);
    font-size: 1.2rem;
    border: 1px solid #3f3f46;
    border-radius: 0.5rem;
}

.hotel-price {
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 1.8rem;
    border-left: 1px solid #000000;
}

.hotel-price p {
    color: #000000;
    font-size: 1.2rem;
}

.hotel-price h3 {
    color: black;
    font-size: 1.9rem;
}

.hotel-price small {
    color: #000000;
    font-size: 1.2rem;
}

.btn-detail {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background: linear-gradient(0deg, var(--primary) 50%, #8b5cf6 125%);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 600;
    border: 2px solid rgba(199, 91, 2, 0.644);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px #ff5100;
    transition: all 0.3s ease;
}

.btn-detail:hover {
    background: rgb(252, 93, 1);
}
