* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
}

.halaman-kebijakan {
    max-width: 900px;
    margin: 0 auto 60px auto;
    padding: 90px 20px 0;
}

.halaman-kebijakan h2 {
    margin: 0 0 25px 0;
    font-size: 28px;
    font-weight: 700;
    color: #222222;
}

.halaman-kebijakan h3 {
    margin: 35px 0 20px 0;
    font-size: 24px;
    font-weight: 700;
    color: #222222;
}

.halaman-kebijakan p {
    margin-bottom: 18px;
    font-size: 15px;
    color: #555555;
    text-align: justify;
}

.halaman-kebijakan ul {
    margin: 0 0 20px 25px;
    padding-left: 20px;
    color: #555555;
}

.halaman-kebijakan ul li {
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 15px;
}

.halaman-kebijakan ol {
    margin: 0 0 20px 25px;
    padding-left: 20px;
    color: #555555;
}

.halaman-kebijakan ol li {
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 15px;
}

.halaman-kebijakan a {
    color: #0064d2;
    text-decoration: none;
}

.halaman-kebijakan a:hover {
    text-decoration: underline;
}